authorized_keys
.export-user-secrets
.ssh/
docker-compose-desktop.yml 
docker-compose-devcons.yml 
docker-elementary-arduino/.bashrc  
docker-elementary-cpp/.bashrc  
docker-elementary-espressif/.bashrc 
docker-elementary-golang/.bashrc  
docker-elementary-gtk/.bashrc  
docker-elementary-ruby/.bashrc 
x11docker-gnome/.bashrc
docker-elementary-arduino/.vimrc
docker-elementary-cpp/.vimrc  
docker-elementary-espressif/.vimrc 
docker-elementary-golang/.vimrc  
docker-elementary-gtk/.vimrc  
docker-elementary-ruby/.vimrc 
x11docker-gnome/.vimrc
