authorized_keys
.export-user-secrets
.ssh/
docker-compose-desktop.yml 
docker-compose-devcons.yml 
docker-elementary-arduino/.bashrc  
docker-elementary-cpp/.bashrc  
docker-elementary-espressif/.bashrc 
docker-elementary-golang/.bashrc  
docker-elementary-gtk/.bashrc  
docker-elementary-ruby/.bashrc 
x11docker-gnome/.bashrc 